.property-default-wrapper {
  height: 240px;
  position: relative;
  width: 240px;
}

.property-default-wrapper .wardrobe-collections {
  color: #000000;
  font-family: "Poppins", Helvetica;
  font-size: 19px;
  font-weight: 600;
  left: 0;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: -1px;
}

.property-default-wrapper .wardrobe-collections-2 {
  color: #000000;
  font-family: "Poppins", Helvetica;
  font-size: 19px;
  font-weight: 600;
  left: 0;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  text-align: center;
  top: -1px;
}

.property-default-wrapper .overlap-group-2 {
  background-image: url(../../../static/img/rectangle-2-1.svg);
  background-size: 100% 100%;
  height: 183px;
  left: -55px;
  position: absolute;
  top: 58px;
  width: 215px;
}

.property-default-wrapper .rectangle-3 {
  border-radius: 14px;
  height: 50px;
  left: 5px;
  position: absolute;
  top: 0;
  width: 206px;
}

.property-default-wrapper .rectangle-4 {
  border-radius: 14px;
  height: 50px;
  left: 5px;
  position: absolute;
  top: 43px;
  width: 206px;
}

.property-default-wrapper .rectangle-5 {
  border-radius: 14px;
  height: 50px;
  left: 5px;
  position: absolute;
  top: 86px;
  width: 206px;
}

.property-default-wrapper .rectangle-6 {
  border-radius: 14px;
  height: 50px;
  left: 5px;
  position: absolute;
  top: 129px;
  width: 206px;
}

.property-default-wrapper .party-look {
  color: #000000;
  font-family: "Poppins", Helvetica;
  font-size: 19px;
  font-weight: 400;
  left: 54px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 9px;
}

.property-default-wrapper .party-look-2 {
  color: #000000;
  font-family: "Poppins", Helvetica;
  font-size: 19px;
  font-weight: 400;
  left: 42px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 52px;
}

.property-default-wrapper .party-look-3 {
  color: #000000;
  font-family: "Poppins", Helvetica;
  font-size: 19px;
  font-weight: 400;
  left: 46px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 95px;
}

.property-default-wrapper .party-look-4 {
  color: #000000;
  font-family: "Poppins", Helvetica;
  font-size: 19px;
  font-weight: 400;
  left: 59px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 138px;
}
