.group {
  height: 531px;
  position: relative;
  width: 426px;
}

.group .img {
  height: 531px;
  left: -3932px;
  position: absolute;
  top: 3274px;
  width: 426px;
}

.group .overlap-group {
  background-color: #ffffff;
  border-radius: 10px;
  height: 25px;
  left: 8px;
  position: absolute;
  top: 9px;
  width: 113px;
}

.group .latest-trend {
  color: #262626;
  font-family: "Poppins", Helvetica;
  font-size: 13px;
  font-weight: 500;
  height: 20px;
  left: 16px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  text-align: center;
  top: 1px;
}

.group .div {
  height: 44px;
  left: 136px;
  position: absolute;
  top: 174px;
  width: 154px;
}

.group .rectangle-2 {
  background-color: #ffffff;
  border-radius: 10px;
  height: 43px;
  left: 0;
  position: absolute;
  top: 1px;
  width: 154px;
}

.group .text-wrapper {
  color: #000000;
  font-family: "Poppins", Helvetica;
  font-size: 16px;
  font-weight: 700;
  height: 43px;
  left: 17px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  text-align: center;
  top: 0;
  width: 120px;
}

.group .overlap {
  height: 44px;
  left: 136px;
  position: absolute;
  top: 243px;
  width: 154px;
}

.group .overlap-2 {
  height: 44px;
  left: 136px;
  position: absolute;
  top: 312px;
  width: 154px;
}

.group.variant-2 {
  background-image: url(../../../static/img/rectangle-30-8.svg);
  background-size: 100% 100%;
}
